<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TrialSelenium/src/main/java/trial/TrialSeleniumu.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="trial.TrialSeleniumu"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TrialSelenium"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dwebdriver.chrome.driver=./bin/chromedriver.exe&#13;&#10;-Dwebdriver.gecko.driver=./bin/geckodriver.exe"/>
</launchConfiguration>
